@model Models.PrinterModels.PrinterDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete @Model.PrinterBrand.ToString()</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.PrinterBrand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrinterBrand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrinterModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrinterModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasDualExtruder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasDualExtruder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanAutoLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanAutoLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasHeatedBed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasHeatedBed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasWifi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasWifi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CanUpgrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CanUpgrade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HasCamera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasCamera)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <input type="button" value="Cancel" class="btn btn-default" onclick="goPrev()" />
            <script>
                function goPrev() { window.history.back(); }
            </script>

        </div>
        <br />
        
    }
</div>
