@model IEnumerable<Models.PrinterModels.PrinterListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrinterId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrinterBrand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrinterModel)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PrinterId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrinterBrand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrinterModel)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.PrinterId  }) |
            @Html.ActionLink("Details", "Detail", new {  id=item.PrinterId }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.PrinterId })
        </td>
    </tr>
}

</table>
