<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="bg-dark">
    <nav class="navbar navbar-expand-lg fixed-top bg-secondary">
        <div class="container">

            <div class="navbar-brand ">

                @Html.ActionLink("3D Printer", "Index", "Home", null, new { @class = "text-white nav-link" })
            </div>
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto">
                    @if (User.Identity.IsAuthenticated)
                    {

                        <li class="nav-item active m-2">@Html.ActionLink("Printers", "Index", "Printer", new { area = "" }, new { @class = "nav-link text-white" })</li>
                        <li class="nav-item m-2">@Html.ActionLink("Materials", "Index", "Material", new { area = "" }, new { @class = "nav-link text-white" })</li>
                        <li class="nav-item m-2">@Html.ActionLink("Create Settings", "Create", "Setting", new { area = "" }, new { @class = "nav-link text-white" })</li>
                    }
                </ul>
            </div>
            <div class="navbar-brand form-inline my-2 my-lg-0">
                <div class="row">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <ul class="nav navbar">
                                <li>

                                    @Html.ActionLink($"Welcom Back {User.Identity.Name}", "Index", "Manage", null, new { @class = "nav-link text-white" })
                                </li>
                                <li>
                                    <a class="nav-link text-white" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>

                                </li>
                            </ul>
                        }

                    }
                    else
                    {

                        @Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-link text-white" })
                        @Html.ActionLink("Login", "Login", "Account", null, new { @class = "nav-link text-white" })
                    }
                </div>
            </div>
        </div>

    </nav>

    <div class="container body-content mt-5">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-white text-center">&copy; @DateTime.Now.Year - 3D Printer Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
