@model IEnumerable<Models.Material.MaterialListItem>

@{
    ViewBag.Title = "Default";
}

<h2 class="text-white">Material Examples</h2>



<table class="table table-hover border-dark">
    <tr class="table-dark text-dark">
        <th>
            @Html.DisplayNameFor(model => model.MaterialBrand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaterialType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            Image
        </th>
        <th>
            Update/Delete
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="table-warning">
            <td>
                @Html.DisplayFor(modelItem => item.MaterialBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            @if (item.Image.Count() != 0)
            {
                <td>
                    <img class="img-thumbnail" width="60" height="60" src="/Material/RetrieveMImage/@item.MaterialId" alt="" />
                </td>
            }
            else
            {
                <td>N/A</td>
            }
            <td>
                <input type="button" value="Detail" class="btn btn-secondary btn-xs" onclick="window.location = '@Url.Action("DefaultDetail", new {id = item.MaterialId})'" />
                

            </td>
        </tr>
    }

</table>
<div>
    <input type="button" value="Add Your Own Material" class="btn btn-primary btn-lg" onclick="window.location = '@Url.Action("Create")'" />
</div>
