@model Models.Material.MaterialDetail

@{
    ViewBag.Title = "Detail";
}

<h2>@Model.MaterialBrand.ToString() Info</h2>

<div>

    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.MaterialBrand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialBrand)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterialType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt>
            @Html.DisplayNameFor(model=> model.Image)
        </dt>
        <dd>
        <img src="/Material/RetrieveMImage/@Model.MaterialId" alt="" height="100" width="200" />
            
        </dd>
        <br />

    </dl>
    <div class="dl-horizontal">
        <div class="col-md-offset-1 col-md-11 ">
            <input type="button" value="Edit" class="btn btn-warning" onclick="window.location= '@Url.Action("Edit", "Material", new {id = Model.MaterialId}, null )'" />
            <input type="button" value="Delete" class="btn btn-danger" onclick="window.location= '@Url.Action("Delete", "Material", new {id = Model.MaterialId})'" />
            <input type="button" value="Back to Materials" class="btn btn-default" onclick="window.location= '@Url.Action("Index", "Material")'" />
        </div>

    </div>
    <br />
</div>
